


<div class="jumbotron text-center bg-dark">
    <h1 class="display-3 text-warning">Wedding Planner</h1>
    <p class="text-white">Register or Login now!</p>
</div>



<!-- seems like using partials for forms will be easiest? -->

<div class="row">

    <div class="col-6 border p-5">
        <h2 class="text-center">Register!</h2>
        <partial name="RegPartial"></partial>
    </div>
    <div class="col-6 border p-5">
        <h2 class="text-center">Login!</h2>
        <partial name="LoginPartial"></partial>
    </div>

</div>



