

@model LoginUser


<form asp-action="Login" asp-controller="Home" method="POST">

    <div class="form-group">
        <span asp-validation-for="Email" class="text-danger"></span><br>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control form-control-lg">
    </div>

    <div class="form-group">
        <span asp-validation-for="Password" class="text-danger"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control form-control-lg">
    </div>
    <div class="text-center"><input type="submit" value="Login Now!" class="btn btn-warning w-75" style="font-size:2rem"></div>

</form>




5