<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeddingPlanner</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-white row">
            <div class="navbar-brand text-secondary col-xs-3" style="font-size: 1.4rem"><strong>Wedding Planner</strong></div>

            <div class="col-xs-2 offset-1">
                <a href="/">Home</a>
            </div>
            <div class="col-xs-2 offset-1">
                <a href="/Dashboard">Dashboard</a>
            </div>
            <div class="col-xs-2 offset-1">
                <a href="/logout">Logout</a>
            </div>
        </nav>
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
